# General filetypes to ignore
f2fp/*.png
__pycache__/
*.py[cod]
.vscode/
*.swp
*.swo
f2fp/*.nc
f2fp/*.pp
f2fp/*.pkl
f2fp/*.txt
f2fp/*.shp
f2fp/*.shx
f2fp/*.dbf
f2fp/*.prj
f2fp/*.cpg
f2fp/*.notinuse
f2fp/*.jpeg
f2fp/*.kmz
f2fp/*.db
f2fp/*.gif
f2fp/*.tar
f2fp/*.jpg
f2fp/*.mpeg
f2fp/*.gz
f2fp/*.vtm
f2fp/*.vtk
f2fp/*.json*

# Project specific Directories and Files
